$sidebar_width: 220px;

.side_menu {
  width: $sidebar_width;
  border-right-color: #f8f8f8 !important;
}

.workspace {
  width: calc(100% - $sidebar_width);
  margin-left: $sidebar_width;
  padding: 20px;
}
