@font-face {
  font-family: 'pepito';
  src: url('assets/pepito.eot?esptr5');
  src: url('assets/pepito.eot?esptr5#iefix') format('embedded-opentype'),
    url('assets/pepito.ttf?esptr5') format('truetype'),
    url('assets/pepito.woff?esptr5') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font_icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pepito' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.activity:before {
  content: '\e90a';
}
.airplay:before {
  content: '\e90b';
}
.alert-circle:before {
  content: '\e90c';
}
.alert-octagon:before {
  content: '\e90d';
}
.alert-triangle:before {
  content: '\e90e';
}
.align-center:before {
  content: '\e90f';
}
.align-justify:before {
  content: '\e910';
}
.align-left:before {
  content: '\e911';
}
.align-right:before {
  content: '\e912';
}
.anchor:before {
  content: '\e913';
}
.aperture:before {
  content: '\e914';
}
.archive:before {
  content: '\e915';
}
.arrow-down:before {
  content: '\e916';
}
.arrow-down-circle:before {
  content: '\e917';
}
.arrow-down-left:before {
  content: '\e918';
}
.arrow-down-right:before {
  content: '\e919';
}
.arrow-left:before {
  content: '\e91a';
}
.arrow-left-circle:before {
  content: '\e91b';
}
.arrow-right:before {
  content: '\e91c';
}
.arrow-right-circle:before {
  content: '\e91d';
}
.arrow-up:before {
  content: '\e91e';
}
.arrow-up-circle:before {
  content: '\e91f';
}
.arrow-up-left:before {
  content: '\e920';
}
.arrow-up-right:before {
  content: '\e921';
}
.at-sign:before {
  content: '\e922';
}
.award:before {
  content: '\e923';
}
.bar-chart:before {
  content: '\e924';
}
.bar-chart-2:before {
  content: '\e925';
}
.battery:before {
  content: '\e926';
}
.battery-charging:before {
  content: '\e927';
}
.bell:before {
  content: '\e928';
}
.bell-off:before {
  content: '\e929';
}
.bluetooth:before {
  content: '\e92a';
}
.bold:before {
  content: '\e92b';
}
.book:before {
  content: '\e92c';
}
.book-open:before {
  content: '\e92d';
}
.bookmark:before {
  content: '\e92e';
}
.box:before {
  content: '\e92f';
}
.briefcase:before {
  content: '\e930';
}
.calendar:before {
  content: '\e931';
}
.camera:before {
  content: '\e932';
}
.camera-off:before {
  content: '\e933';
}
.cast:before {
  content: '\e934';
}
.check:before {
  content: '\e935';
}
.check-circle:before {
  content: '\e936';
}
.check-square:before {
  content: '\e937';
}
.chevron-down:before {
  content: '\e938';
}
.chevron-left:before {
  content: '\e939';
}
.chevron-right:before {
  content: '\e93a';
}
.chevron-up:before {
  content: '\e93b';
}
.chevrons-down:before {
  content: '\e93c';
}
.chevrons-left:before {
  content: '\e93d';
}
.chevrons-right:before {
  content: '\e93e';
}
.chevrons-up:before {
  content: '\e93f';
}
.chrome:before {
  content: '\e940';
}
.circle:before {
  content: '\e941';
}
.clipboard:before {
  content: '\e942';
}
.clock:before {
  content: '\e943';
}
.cloud:before {
  content: '\e944';
}
.cloud-drizzle:before {
  content: '\e945';
}
.cloud-lightning:before {
  content: '\e946';
}
.cloud-off:before {
  content: '\e947';
}
.cloud-rain:before {
  content: '\e948';
}
.cloud-snow:before {
  content: '\e949';
}
.code:before {
  content: '\e94a';
}
.codepen:before {
  content: '\e94b';
}
.command:before {
  content: '\e94c';
}
.compass:before {
  content: '\e94d';
}
.copy:before {
  content: '\e94e';
}
.corner-down-left:before {
  content: '\e94f';
}
.corner-down-right:before {
  content: '\e950';
}
.corner-left-down:before {
  content: '\e951';
}
.corner-left-up:before {
  content: '\e952';
}
.corner-right-down:before {
  content: '\e953';
}
.corner-right-up:before {
  content: '\e954';
}
.corner-up-left:before {
  content: '\e955';
}
.corner-up-right:before {
  content: '\e956';
}
.cpu:before {
  content: '\e957';
}
.credit-card:before {
  content: '\e958';
}
.crop:before {
  content: '\e959';
}
.crosshair:before {
  content: '\e95a';
}
.database:before {
  content: '\e95b';
}
.delete:before {
  content: '\e95c';
}
.disc:before {
  content: '\e95d';
}
.dollar-sign:before {
  content: '\e95e';
}
.download:before {
  content: '\e900';
}
.download-cloud:before {
  content: '\e95f';
}
.droplet:before {
  content: '\e960';
}
.edit:before {
  content: '\e901';
}
.edit-2:before {
  content: '\e961';
}
.edit-3:before {
  content: '\e962';
}
.external-link:before {
  content: '\e963';
}
.eye:before {
  content: '\e964';
}
.eye-off:before {
  content: '\e965';
}
.facebook:before {
  content: '\e966';
}
.fast-forward:before {
  content: '\e967';
}
.feather:before {
  content: '\e968';
}
.file:before {
  content: '\e969';
}
.file-minus:before {
  content: '\e96a';
}
.file-plus:before {
  content: '\e96b';
}
.file-text:before {
  content: '\e902';
}
.film:before {
  content: '\e96c';
}
.filter:before {
  content: '\e96d';
}
.flag:before {
  content: '\e96e';
}
.folder:before {
  content: '\e96f';
}
.folder-minus:before {
  content: '\e970';
}
.folder-plus:before {
  content: '\e971';
}
.gift:before {
  content: '\e972';
}
.git-branch:before {
  content: '\e973';
}
.git-commit:before {
  content: '\e974';
}
.git-merge:before {
  content: '\e975';
}
.git-pull-request:before {
  content: '\e976';
}
.github:before {
  content: '\e977';
}
.gitlab:before {
  content: '\e978';
}
.globe:before {
  content: '\e979';
}
.grid:before {
  content: '\e97a';
}
.hard-drive:before {
  content: '\e97b';
}
.hash:before {
  content: '\e97c';
}
.headphones:before {
  content: '\e97d';
}
.heart:before {
  content: '\e97e';
}
.help-circle:before {
  content: '\e97f';
}
.home:before {
  content: '\e903';
}
.image:before {
  content: '\e904';
}
.inbox:before {
  content: '\e905';
}
.info:before {
  content: '\e980';
}
.instagram:before {
  content: '\e981';
}
.italic:before {
  content: '\e982';
}
.layers:before {
  content: '\e983';
}
.layout:before {
  content: '\e984';
}
.life-buoy:before {
  content: '\e985';
}
.link:before {
  content: '\e986';
}
.link-2:before {
  content: '\e987';
}
.linkedin:before {
  content: '\e988';
}
.list:before {
  content: '\e989';
}
.loader:before {
  content: '\e98a';
}
.lock:before {
  content: '\e98b';
}
.log-in:before {
  content: '\e98c';
}
.log-out:before {
  content: '\e98d';
}
.mail:before {
  content: '\e98e';
}
.map:before {
  content: '\e98f';
}
.map-pin:before {
  content: '\e990';
}
.maximize:before {
  content: '\e991';
}
.maximize-2:before {
  content: '\e992';
}
.menu:before {
  content: '\e993';
}
.message-circle:before {
  content: '\e994';
}
.message-square:before {
  content: '\e995';
}
.mic:before {
  content: '\e996';
}
.mic-off:before {
  content: '\e997';
}
.minimize:before {
  content: '\e998';
}
.minimize-2:before {
  content: '\e999';
}
.minus:before {
  content: '\e99a';
}
.minus-circle:before {
  content: '\e99b';
}
.minus-square:before {
  content: '\e99c';
}
.monitor:before {
  content: '\e906';
}
.moon:before {
  content: '\e99d';
}
.more-horizontal:before {
  content: '\e99e';
}
.more-vertical:before {
  content: '\e99f';
}
.move:before {
  content: '\e9a0';
}
.music:before {
  content: '\e9a1';
}
.navigation:before {
  content: '\e9a2';
}
.navigation-2:before {
  content: '\e9a3';
}
.octagon:before {
  content: '\e9a4';
}
.package:before {
  content: '\e9a5';
}
.paperclip:before {
  content: '\e9a6';
}
.pause:before {
  content: '\e9a7';
}
.pause-circle:before {
  content: '\e9a8';
}
.percent:before {
  content: '\e9a9';
}
.phone:before {
  content: '\e9aa';
}
.phone-call:before {
  content: '\e9ab';
}
.phone-forwarded:before {
  content: '\e9ac';
}
.phone-incoming:before {
  content: '\e9ad';
}
.phone-missed:before {
  content: '\e9ae';
}
.phone-off:before {
  content: '\e9af';
}
.phone-outgoing:before {
  content: '\e9b0';
}
.pie-chart:before {
  content: '\e9b1';
}
.play:before {
  content: '\e9b2';
}
.play-circle:before {
  content: '\e9b3';
}
.plus:before {
  content: '\e9b4';
}
.plus-circle:before {
  content: '\e9b5';
}
.plus-square:before {
  content: '\e9b6';
}
.pocket:before {
  content: '\e9b7';
}
.power:before {
  content: '\e9b8';
}
.printer:before {
  content: '\e9b9';
}
.radio:before {
  content: '\e9ba';
}
.refresh-ccw:before {
  content: '\e9bb';
}
.refresh-cw:before {
  content: '\e9bc';
}
.repeat:before {
  content: '\e9bd';
}
.rewind:before {
  content: '\e9be';
}
.rotate-ccw:before {
  content: '\e9bf';
}
.rotate-cw:before {
  content: '\e9c0';
}
.rss:before {
  content: '\e9c1';
}
.save:before {
  content: '\e907';
}
.scissors:before {
  content: '\e9c2';
}
.search:before {
  content: '\e9c3';
}
.send:before {
  content: '\e9c4';
}
.server:before {
  content: '\e908';
}
.settings:before {
  content: '\e9c5';
}
.share:before {
  content: '\e9c6';
}
.share-2:before {
  content: '\e9c7';
}
.shield:before {
  content: '\e9c8';
}
.shield-off:before {
  content: '\e9c9';
}
.shopping-bag:before {
  content: '\e9ca';
}
.shopping-cart:before {
  content: '\e9cb';
}
.shuffle:before {
  content: '\e9cc';
}
.sidebar:before {
  content: '\e9cd';
}
.skip-back:before {
  content: '\e9ce';
}
.skip-forward:before {
  content: '\e9cf';
}
.slack:before {
  content: '\e9d0';
}
.slash:before {
  content: '\e9d1';
}
.sliders:before {
  content: '\e9d2';
}
.smartphone:before {
  content: '\e9d3';
}
.speaker:before {
  content: '\e9d4';
}
.square:before {
  content: '\e9d5';
}
.star:before {
  content: '\e9d6';
}
.stop-circle:before {
  content: '\e9d7';
}
.sun:before {
  content: '\e9d8';
}
.sunrise:before {
  content: '\e9d9';
}
.sunset:before {
  content: '\e9da';
}
.tablet:before {
  content: '\e9db';
}
.tag:before {
  content: '\e9dc';
}
.target:before {
  content: '\e9dd';
}
.terminal:before {
  content: '\e9de';
}
.thermometer:before {
  content: '\e9df';
}
.thumbs-down:before {
  content: '\e9e0';
}
.thumbs-up:before {
  content: '\e9e1';
}
.toggle-left:before {
  content: '\e9e2';
}
.toggle-right:before {
  content: '\e9e3';
}
.trash:before {
  content: '\e9e4';
}
.trash-2:before {
  content: '\e9e5';
}
.trending-down:before {
  content: '\e9e6';
}
.trending-up:before {
  content: '\e9e7';
}
.triangle:before {
  content: '\e9e8';
}
.truck:before {
  content: '\e9e9';
}
.tv:before {
  content: '\e9ea';
}
.twitter:before {
  content: '\e9eb';
}
.type:before {
  content: '\e9ec';
}
.umbrella:before {
  content: '\e9ed';
}
.underline:before {
  content: '\e9ee';
}
.unlock:before {
  content: '\e9ef';
}
.upload:before {
  content: '\e9f0';
}
.upload-cloud:before {
  content: '\e9f1';
}
.user:before {
  content: '\e9f2';
}
.user-check:before {
  content: '\e9f3';
}
.user-minus:before {
  content: '\e9f4';
}
.user-plus:before {
  content: '\e9f5';
}
.user-x:before {
  content: '\e9f6';
}
.users:before {
  content: '\e9f7';
}
.video:before {
  content: '\e9f8';
}
.video-off:before {
  content: '\e9f9';
}
.voicemail:before {
  content: '\e9fa';
}
.volume:before {
  content: '\e9fb';
}
.volume-1:before {
  content: '\e9fc';
}
.volume-2:before {
  content: '\e9fd';
}
.volume-x:before {
  content: '\e9fe';
}
.watch:before {
  content: '\e9ff';
}
.wifi:before {
  content: '\ea00';
}
.wifi-off:before {
  content: '\ea01';
}
.wind:before {
  content: '\ea02';
}
.x:before {
  content: '\e909';
}
.x-circle:before {
  content: '\ea03';
}
.x-square:before {
  content: '\ea04';
}
.youtube:before {
  content: '\ea05';
}
.zap:before {
  content: '\ea06';
}
.zap-off:before {
  content: '\ea07';
}
.zoom-in:before {
  content: '\ea08';
}
.zoom-out:before {
  content: '\ea09';
}
