$side_menu_list_item_background_color: #6482a1;

button.side_menu_list_item_button {
  background-color: $side_menu_list_item_background_color;
  width: 35px;
  height: 35px;
  margin: 12px 7px 0;
  color: white;
  box-shadow: none;
  opacity: 0.5;
  font-size: 17px;

  &:hover {
    opacity: 1;
    background-color: $side_menu_list_item_background_color;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
  }

  .side_menu_list_item__active & {
    opacity: 1;
  }
}
